/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofled.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

&right_encoder {
    status = "okay";
};

/* nice!view's default VCOM toggle interval is 33ms (~30Hz) which sits at the
 * edge of human flicker-fusion and shows as visible pulsing. Dropping it to
 * 22ms (~45Hz) pushes the toggle above the perceptible threshold. Addressed
 * by SPI controller path because the `nice_view` label is processed in a
 * different overlay file than this one. */
&spi0 {
    ls0xx@0 {
        serial-vcom-interval = <16>;
    };
};
